  <div class="text-center">
    <img class="d-block mx-auto mt-3 mb-5 pt-5 col-lg-6" src="https://lh3.googleusercontent.com/KhAmvMPjw0s9rRdPuFXBxPDZ0cU9tf3d_r8MVLnSQGD9w3gEaHQ6nSzp7v6vvHlj0J0u0tmtUmBNRPucM8dsmaldiCyEgc6rkHpnsrA0VX5CumDK0mJtPSACEs0GxR6FKRNj-9T5lJSnuTkrYQD5-kMfJYfZUfXkb2P7CRDrgfyMgkm1FMtidNgrvRLENeqFe8FwJb17fgnon81uwYg2TXomymquN5S59mxkftFgkLTYuZHzp6mqDZ3w8jNLDmk1NlnnufAKYP4e6OyD9oA37Omhgx6yF8YMvPfsgdBXnitqGi0uaxVsWxioZQAfgWgTZppIxade_EuXmqKi59dy2coX7UAj3auMpQCfXaFDzWjcrEhFPJfH5KWBqV69IYXWsjx2UJu0R8LOM1dWAfXLnTd_v2YP8WAnFlVFOve6I4QHe8lq0snkSSBDBzt_G1V4Fx58WOq7LPMKlm1DQOnnYWMkLXtVyOsU4DacG0f6YMaUsgcV6a7_-SJLDbGCrkwIYdOPj3ZcMoTmQSy1bcxY6ReiOitiAFtjDj-IvU-ayaPZe26o69y8vp5lWsP7PwhFbpTo6E0cadNwQOzgKNV2TQFKYN4WVviN_jjxzf_quSQTKWUW5BY5yYwdyCh8Y7zQEwIJWvWXLWZLqNlM-FYPfOYOWIQptlTSczcbCk1140q6A6myiKjLF0k0MjxCHbZ9miBgQG5_l5Pgj2kX5GiGRxOMbAKUOIerCDF_RKtgl6ie6ksJviqOT2HeKPZAICtSQrGnKtNXJzsW77Fx5bH-cFo97NrO8b4XWCuvmBS92u3_kwS4TapkLI8tCP5UU1-wcoelyt3PF_7iHYK1oYbooM1ItGQhaqk6vleN_rhuB6fqq5FTfOftUzlRfDEZPstmHuH6ltY08079pirVuLq0A_4AwQLhFa3cB4e6BIfCTI52-keQnQWVtUn-61ietX7DJF9SZpZtGhoGjWnTm8Z6=w1186-h453-s-no?authuser=0https://lh3.googleusercontent.com/KhAmvMPjw0s9rRdPuFXBxPDZ0cU9tf3d_r8MVLnSQGD9w3gEaHQ6nSzp7v6vvHlj0J0u0tmtUmBNRPucM8dsmaldiCyEgc6rkHpnsrA0VX5CumDK0mJtPSACEs0GxR6FKRNj-9T5lJSnuTkrYQD5-kMfJYfZUfXkb2P7CRDrgfyMgkm1FMtidNgrvRLENeqFe8FwJb17fgnon81uwYg2TXomymquN5S59mxkftFgkLTYuZHzp6mqDZ3w8jNLDmk1NlnnufAKYP4e6OyD9oA37Omhgx6yF8YMvPfsgdBXnitqGi0uaxVsWxioZQAfgWgTZppIxade_EuXmqKi59dy2coX7UAj3auMpQCfXaFDzWjcrEhFPJfH5KWBqV69IYXWsjx2UJu0R8LOM1dWAfXLnTd_v2YP8WAnFlVFOve6I4QHe8lq0snkSSBDBzt_G1V4Fx58WOq7LPMKlm1DQOnnYWMkLXtVyOsU4DacG0f6YMaUsgcV6a7_-SJLDbGCrkwIYdOPj3ZcMoTmQSy1bcxY6ReiOitiAFtjDj-IvU-ayaPZe26o69y8vp5lWsP7PwhFbpTo6E0cadNwQOzgKNV2TQFKYN4WVviN_jjxzf_quSQTKWUW5BY5yYwdyCh8Y7zQEwIJWvWXLWZLqNlM-FYPfOYOWIQptlTSczcbCk1140q6A6myiKjLF0k0MjxCHbZ9miBgQG5_l5Pgj2kX5GiGRxOMbAKUOIerCDF_RKtgl6ie6ksJviqOT2HeKPZAICtSQrGnKtNXJzsW77Fx5bH-cFo97NrO8b4XWCuvmBS92u3_kwS4TapkLI8tCP5UU1-wcoelyt3PF_7iHYK1oYbooM1ItGQhaqk6vleN_rhuB6fqq5FTfOftUzlRfDEZPstmHuH6ltY08079pirVuLq0A_4AwQLhFa3cB4e6BIfCTI52-keQnQWVtUn-61ietX7DJF9SZpZtGhoGjWnTm8Z6=w1186-h453-s-no?authuser=0" alt="">
    <div class="col-lg-6 mx-auto">
        
        <form>
            <!-- Username input -->
            <h4 style="color: #8D4BEF">Enter your username</h1>
            <div class="form-outline mb-4 d-flex justify-content-center">
              <input type="text" style="height:55px" id="username" class=" form-control mb-3 max-height: 100% w-50 " />
            </div>
          
            <!-- Submit button -->
            <button type="button"style="background-color: #5611BB "class="fw-bold btn btn-dark px-5 btn-lg btn-block mb-5 " onclick="menu()">Get Started</button>

            </div>
          </form>
    </div>
</div>

<script>
    function menu() {
        window.open("http://localhost:8080/menu");
    }
</script>

<style>
    body {
        background-color:#31006E;
    }
</style>